body{
    background-color: red;
}
h1{
    text-align: center;
}
iframe{
    width: fit-content;
    margin: auto;
}
h5{
    text-align: right;
}
#gamegrid{
    margin: auto;
    background-color: white;
    min-height: 100px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;


}
#gamegrid div{
    margin: auto;
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    font-size: 30px;
}
.transparent{
    color: transparent;
}